main {
    padding: 40px 20px;
    text-align: center;
    display: flex;
    margin-right: 15%;
}

.product-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.product-image img {
    max-width: 50%;
    height: auto;
}

.product-info h1 {
    font-size: 24px;
    margin: 15px 0;
}

.price {
    font-size: 18px;
    color: #555;
}

.accordion-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px;
    margin: 0 auto;
}

#con-accordion
main {
    padding: 40px 20px;
    text-align: center;
    display: flex;
    margin-right: 15%;
}

.product-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.product-image img {
    max-width: 50%;
    height: auto;
}

.product-info h1 {
    font-size: 24px;
    margin: 15px 0;
}

.price {
    font-size: 18px;
    color: #555;
}

.accordion-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px;
    margin: 0 auto;
}

.accordion {
    width: 100%;
    margin-bottom: 10px;
}

.accordion input[type="checkbox"] {
    display: none;
}

.accordion label {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.accordion label::after {
    content: "▼";
    font-size: 16px;
    color: #333;
}

.accordion input[type="checkbox"]:checked + label::after {
    content: "▲";
}

.accordion .content {
    max-height: 0;
    overflow: hidden;
    background-color: #f9f9f9;
    transition: max-height 0.3s ease-out;
    padding: 0 15px;
    border-radius: 25px;
}

.accordion input[type="checkbox"]:checked ~ .content {
    max-height: 200px;
    padding: 15px;
}

