.body {
    padding: 0;
    margin: 0;
}

.nav-uks {
    background-color: #47B66C;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 65px;
    margin-left: 50px;
}

.wrapper {
    text-align: center;
}

.nav-uks {
    flex-grow: 1;
}

.wrapper ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    gap: 10px;
    padding: 0;
    text-align: center;
}

.wrapper ul li {
    margin-right: 100px;
}

.wrapper ul li:last-child {
    margin-right: 0;
}

.wrapper ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
}

.wrapper ul li a:hover {
    color: black;
    border-bottom: solid 0.1rem black;
    transition-delay: 3s ease-in ease-out; 
}






/* INDEX/LANDING PAGE */







/* GALLERY */







/* DAFTAR OBAT */







/* DETAIL OBAT */







/* CONTACT US */
header {
    background-color: #4CAF50;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.logo img {
    height: 70px;
    margin-left: 50px;
}

.wrapper {
    gap: 100px;
}

nav {
    flex-grow: 1;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center; /* Ini akan membuat menu berada di tengah */
    margin: 0;
    gap: 100px;
    padding: 0;
    transition-delay: 3s ease-in ease-out;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #fff;
    border-radius: 15px;
    border: solid black 2px;
    margin: 120px;
    border: 1px solid #ddd;
    margin-top: 30px;
}

.contact {
    font-weight: 800;
}

.info {
    font-weight: 900;
}

.contact-form {
    width: 50%;
}

.contact-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-form .name {
    color: pink;
    font-size: 16px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.contact-info {
    width: 40%;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.contact-info h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

.contact-info p {
    margin-bottom: 10px;
}

.contact-info a {
    color: white;
    text-decoration: none;
}

.send {
    border-radius: 15px;
    width: 100%;
}





/* FOOTER */




