
/* NAVBAR */







/* INDEX/LANDING PAGE */







/* GALLERY */







/* DAFTAR OBAT */







/* DETAIL OBAT */







/* CONTACT US */
header {
    background-color: #e0f0e0;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 70px;
    margin-left: 50px;
}

.wrapper {
    gap: 100px;
}

nav {
    flex-grow: 1;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center; /* Ini akan membuat menu berada di tengah */
    margin: 0;
    gap: 100px;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #fff;
    margin: 20px;
    border: 1px solid #ddd;
    margin-top: 90px;
}

.contact-form {
    width: 50%;
}

.contact-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-form .name {
    color: pink;
    font-size: 16px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.contact-info {
    width: 40%;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.contact-info h3 {
    font-size: 30px;
    margin-bottom: 40px;
}

.contact-info p {
    margin-bottom: 10px;
}

.contact-info a {
    color: white;
    text-decoration: none;
}






/* FOOTER */




